<div id="<%= dom_id photo %>">
  <p>
    <strong>Photo:</strong>
    <%= link_to photo.photo.filename, photo.photo if photo.photo.attached? %>
  </p>

  <p>
    <strong>Photoable:</strong>
    <%= photo.photoable_id %>
  </p>

</div>
